/*
    Цвета на веб сайте
    Текст: #c7c7c7;
    Темный цвет 1(темнее): #2d2d2d;
    Темный цвет 2(светлее): #363636;
    Цвет выделения важных элементов: #ff7300;
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.cont{
    color: #ff7300;
}
div.content{
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
.p20{
    padding: 20px;
}
.p40{
    padding: 40px 0;
}
a:hover{
    color: #ff7300;
}
header,footer{
    display: flex;
    color: white;
    justify-content: space-between;
    background-color: #2d2d2d;
    border-bottom: 1px solid #363636;
    border-top: 1px solid #363636;
    align-items: center;
    font-size: 16pt;
}
header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 30%;
}
form{
    width: 50%;
    color: #c7c7c7;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #2d2d2d;
    box-shadow: 0 0 5px black;
}
form label,form input,form textarea{
    width: 100%;
    border:none;
    color: #c7c7c7;
    height: 40px;
    padding: 10px;
    font-size: 16pt;
    font-family: Arial;
}
form h2{
    margin-bottom: 20px;
}
form label{
    display: flex;
    margin-bottom: 0;
    font-size: 12pt;
    justify-content: space-between;
}
form input{
    background-color: #363636;
    margin-bottom: 20px;
}
form input{

}
form textarea{
    background-color: #363636;
    margin-bottom: 30px;
    height: 150px;
}
button{
    background-color: #2d2d2d;
    padding: 10px 40px;
    border:1px solid #ff7300;
    color: #ff7300;
    font-size: 14pt;
    cursor: pointer;
}
main{
    background-color: #2d2d2d;
}
div.blogs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
}
div.blogs div.blog{
    margin: 20px 0;
    color: #c7c7c7;
    width: 28%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}
div.blogs div.blog img{
    width: 100%;
    height:200px;
    margin-bottom: 20px;
}
div.blogs div.blog .center{
    text-align: center;
    margin-bottom: 10px;
}

div.blogs div.blog a{
    margin-top: auto;
    padding: 10px 20px;
    border:1px solid #ff7300;
    text-align: center;
}
div.blogs div.blog a:hover{
    background-color: #ff7300;
    color: black;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
}