*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: .2s;
    color: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
div.message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
div.info-page{
    text-align: center;
    margin-bottom: 30px;
}
div.info-page h2{
    font-size: 24pt;
}
p.message{
    margin: 20px 0;
    font-size: 16pt;
    color: green;
}
.content{
    width: 1800px;
    margin: 0 auto;
}
header{
    padding: 20px 0;
}
header nav{
    display: flex;
    font-size: 14pt;
    justify-content: space-between;
    align-items: center;
}
header nav h1{
    font-size: 28pt;
}
header nav .navbar{
    display: flex;
    font-size: 16pt;
    align-items: center;
}
header nav .navbar a{
    margin: 0 20px;
    color: #999;
    font-weight: 600;
}
header nav .navbar a.whiteHref{
    padding: 10px 30px;
    border-radius: 10px;
    color: #ff8215;
    border:1px solid #ff8215;
}
header nav .navbar a:hover{
    color: #ff8215;
}
header nav .navbar a.orangeHref{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #ff8215;
    color: white;
}
main{
    min-height: calc(100vh - (67px + 105px));
    padding-bottom: 40px;
}
form{
    width: 600px;
    margin: 0 auto;
}
form input,form label,form textarea{
    width: 100%;
    height: 50px;
    font-size: 14pt;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
form input{
    padding-left: 10px;
    border:1px solid black;
    margin: 10px 0 20px 0;
}
form input[type=file]{
    width: auto;
    margin: 0;
    border: none;
}
form label.image-label{
    display: flex;
    border:1px solid black;
    justify-content: space-between;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 20px;
}
form textarea{
    height: 150px;
    padding: 10px;
    border:1px solid black;
    margin-bottom: 20px;
}
form button{
    width: 100%;
    height: 40px;
    background-color: #ff8215;
    border:none;
    color: white;
    font-size: 14pt;
    cursor: pointer;
    border-radius: 5px;
}
div.personal-area .info{
    padding: 40px;
    background-color: #f8f4f4;
    border-radius: 20px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
}
div.personal-area .info .image{
    width:300px;
    height: 500px;
    border-radius: 10px;
}
div.personal-area .info .image img{
    border-radius: 10px;
}
div.personal-area div.data{
    margin:20px 0 0 100px;
}
div.personal-area div.data h2{
    font-size: 24pt;
}
div.personal-area > .news{

}
div.personal-area > .news .info-page{
    margin-top: 30px;
}
div.personal-area > .news form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
}
div.personal-area > .news form label{
    font-size: 16pt;
}
div.personal-area > .news form input{
    width: 30%;
}

div.all-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.all-news div.oneNew{
    width: 22%;
    padding: 10px;
    box-shadow: 0 0 10px #777777;
    border-radius: 10px;
}
div.all-news div.oneNew .image{
    height: 300px;
}
div.all-news div.oneNew div.infoNews{
    margin-top: 20px;
}
div.all-news div.oneNew div.infoNews h2.title{
    text-align: center;
    font-size: 18pt;
}
div.all-news div.oneNew div.infoNews p.category{
    text-align: center;
    font-size: 16pt;
    margin-top: 5px;
}
div.all-news div.oneNew div.infoNews p.description{
    text-align: center;
    margin: 10px 0;
    font-size: 14pt;
}
div.all-news div.oneNew div.infoNews p.gray{
    text-align: center;
    color: #999;
}
div.all-news div.oneNew div.infoNews button{
    padding: 5px 10px;
    background-color: #ff8215;
    border-radius: 5px;
    color: #fff;
    border:none;
    cursor: pointer;
}
footer{
    font-size: 18pt;
    padding: 20px 0;
    text-align: center;
}
